-if @restaurants.any?
  -@restaurants.each do |restaurant|
    %h2= link_to restaurant.name, restaurant_path(restaurant)
    = image_tag restaurant.image.url(:thumb)
    %p= restaurant.description
    =link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant.id)
    %br
    =link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete
    %br
    =link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant.id)
    -if restaurant.reviews.any?
      -restaurant.reviews.each do |review|
        %p= review.thoughts
        %p= review.rating
        %p= pluralize review.endorsements.count, "endorsement"
        =link_to "Delete review", restaurant_review_path(restaurant, review), method: :delete
        %br
        =link_to "Endorse review", new_restaurant_review_endorsement_path(restaurant, review)
-else
  No restaurants yet!

%br
=link_to "Add a restaurant", new_restaurant_path

= notice
= yield
